{% extends "shopping/layout.html" %}
{% block title %}REVALGO{% endblock %}

{% block content %}
    <div id="greeting-section">
        <h1 class="greeting">Hi Karri !</h1>
        <button class="shop-btn">What do you wanna shop today&nbsp;&nbsp;??</button>
    </div>
    <div class="chat-area" id="chat-area" style="display:none"></div>
    <div class="search-bar-wrapper">
        <div class="search-bar">
            <span class="search-plus" id="add-attachment-btn"><i class="fas fa-plus"></i></span>
            <input type="file" id="attachment-input" style="display:none" multiple>
            <input class="search-input" type="text" placeholder="Shop now..." />
            <span class="search-mic" id="search-mic"><i class="fas fa-microphone"></i></span>
        </div>
    </div>
{% endblock %}
